
.addModal {
    position: absolute;
    width: 50%;
    height:80%;
    left:50%;
    transform: translateX(-40%);
    margin-top:40px;
    padding: 30px;
    border-radius: 15px;
    background: transparent; /* Fond sombre uni */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #f0f0f0; /* Couleur de texte claire */
    transition: all 0.3s ease; /* Transition douce */
    border: solid 1px rgba(118, 117, 117, 0.218);
    box-shadow: 2px 0px 2px .2px rgba(205, 203, 203, 0.081);
  }
  
  .addModalInputs {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .addModal input {
    padding: 10px;
    background-color:transparent; 
    outline:none;
    border: solid 1px rgba(128, 128, 128, 0.218);
    box-shadow: -1px 0px 5px .2px rgba(220, 217, 217, 0.181);
    color: #f0f0f0;
    font-size: 16px;
    margin-bottom: 20px;
    min-width:90%; 
  }

  .parentAddModalInput {
    margin:10px;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .addModalTitle {
    width:100%;
    text-align: center;
    padding:7px;
    background:  linear-gradient(-45deg, rgb(51, 38, 168), rgba(34, 191, 243, 0.679))
  }

  .addModalWord {
    text-align: center;
    padding:10px;
    color:rgb(183, 183, 183)
  }

  .addModal button {
    padding: 12px 24px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    background: transparent; /* Fond de bouton plus sombre */
    border: solid 1px rgba(128, 128, 128, 0.218);
    box-shadow: -1px 0px 5px .2px rgba(220, 217, 217, 0.181);
    color: #fff; /* Texte blanc */
    margin: 10px;
    transition: background 0.3s ease; /* Transition de fond */
  }
  
  .addModalCancel:hover {
    background: #e74c3c; /* Couleur de survol pour annuler */
  }
  
  .addModalSuccess:hover {
    background: #2ecc71; /* Couleur de survol pour confirmer */
  }

  .addModalWordRappel {
    display: block;
    color:rgb(168, 38, 110);
    font-weight: bold;
    text-transform: uppercase;
    margin:8px;
  }
  
  /* Responsive Design */
  @media (max-width: 1000px) {
    .addModal {
      display: flex;
      overflow-y: auto;
      justify-content: start;
      align-items: center;
      top:15%;
      transform: translateX(-50%);
      min-width:90%;
    }

    .addModal input {
      margin:4px
    }

    .addModalInputs {
      display: grid;
      grid-template-columns: repeat(1, 100%);
      width:80%
    }
  }
  
  @media (max-width: 600px) {
    .addModal {
      padding: 20px;
    }
  }
  