.profil {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #0a0b0f;
    height: 10vh;
}

.profil-role {
    color: rgba(187, 204, 213, 0.855);
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: color 0.3s ease-in-out;
}

.profil-role svg {
    fill: rgba(219, 230, 246, 0.8);
    margin-right: 3px;
    transition: fill 0.3s ease-in-out;
}


.profil-role:hover {
    color: rgba(219, 230, 246, 0.9);
}

.profil-role:hover svg {
    fill: rgba(187, 204, 213, 0.855);
}

.profil-pseudo:hover {
    color: rgba(219, 230, 246, 0.9);
}


.profil-pseudo {
    color: rgba(187, 204, 213, 0.855);
    transition: color 0.3s ease-in-out;
}

.profil-role:hover svg {
    fill: rgba(187, 204, 213, 0.855);
}

.profil-pseudo, .profil-role {
    font-size:19px;
}

.profil-image {
    object-fit: cover;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    right: 20px;
}

@media (max-width:1024px) {
    .profil {
        position: sticky;
    }

    .profil-image {  
        width: 40px;
        height: 40px;
        right: 80px;
    }
} 